{{template "header"}}
<table>
  <thead>
    <th>Title</th>
    <th>Created At</th>
  </thead>
  <tbody>
    {{range .}}
      <tr>
        <td><a href='view/{{.ID}}'>{{.Title}}</a></td>
        <td>{{.CreatedAt.Format "Mon Jan 2 15:04 MST 2006" }}</td>
      </tr>
    {{end}}
  </tbody>
</table>
{{template "footer"}}