{{template "header" .}}
<div class="row mb-3">
  <div class="col-md-8">
    {{if not .Page}}
      No pages yet
    {{- else}}
      {{template "viewPartial" .}}
    {{end}}
  </div>
  <div class="col-md-4" id='most-recent-page-collection'>
    <h6>Recent Posts</h6>
    <nav aria-label="Page Navigation">
      <ul class="pagination pagination-sm">
        {{if eq .PageCollection.ResultsPageNumber 1}}
        <li class="page-item disabled">
          <a class='page-link' href='#' tabindex='-1' aria-disabled='true'>Previous</a>
        </li>
        {{- else}}
        <li class="page-item">
          <a class="page-link"
            href="{{.Links.PagePatterns.PageIndexPath}}?page={{.PageCollection.PreviousPage}}&limit={{.PageCollection.Limit}}">Previous</a>
        </li>
        {{end}}
  
        <li class="page-item"><a class="page-link"
            href="{{.Links.PagePatterns.PageIndexPath}}?page={{.PageCollection.ResultsPageNumber}}&limit={{.PageCollection.Limit}}">{{.PageCollection.ResultsPageNumber}}</a>
        </li>
        {{if .PageCollection.AtLastPage}}
        <li class="page-item disabled">
          <a class='page-link' href='#' tabindex='-1' aria-disabled='true'>Next</a>
        </li>
        {{- else}}
        <li class="page-item">
          <a class="page-link"
            href='{{.Links.PagePatterns.PageIndexPath}}?page={{.PageCollection.NextPage}}&limit={{.PageCollection.Limit}}'>Next</a>
        </li>
        {{end}}
      </ul>
    </nav>
    <small>Showing {{len .PageCollection.Pages}} of total: {{.PageCollection.Count}}</small>
    <table class="table">
      <thead>
        <th scope="col">Title</th>
        <th scope="col">Created At</th>
      </thead>
      <tbody>
        {{range .PageCollection.Pages}}
        <tr>
          <td><a href="{{$.Links.PagePatterns.PageViewPath}}{{.ID}}">{{.Title}}</a></td>
          <td>{{.CreatedAt.Format "Mon Jan 2 15:04 MST 2006" }}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{template "footer"}}