{{template "header" .}}
<h1>Log In</h1>

<form form='log-in' id='log-in-form' action="{{.Links.UserPatterns.UserAuthenticatePath}}" method="POST" class="col-4">
  <script>
    // While a form field is selected, submit the form with ctrl + enter or cmd + enter
    document.forms["sign-in-form"].onkeydown = keydown;
    function keydown(e) {
      if ((e.ctrlKey || e.metaKey) && e.which == 13) {
        return document.forms["sign-in-form"].requestSubmit();
      }
    };
  </script>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div>
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div>
    <button type="submit" id="submit-log-in-button" value="Save" class="btn btn-primary my-3">Submit</button>
  </div>
</form>
{{template "footer" .}}