<h1>New</h1>

<form action="/create" method="POST">
<div>
  <p>Title</p>
  <textarea name="title">{{printf "%s" .Title}}</textarea>
</div>
<div>
  <p>Post Body</p>
  <textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea>
</div>
<div>
  <input type="submit" value="Save">
</div>
</form>